.root {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
  padding-top: 7px;
}

.item {
  cursor: pointer;
  padding: 16px 0;
  margin-right: 50px;
  font-family: Karla;
  font-size: 25px;
  line-height: 30px;
}

.item:hover {
  opacity: 0.7;
}

.item.active {
  cursor: default;
  border-bottom: 3px solid #212121;
}

.item.active:hover {
  opacity: 1;
}

.item:last-child {
  margin-right: 0;
}
